#bgImg {
  background-image: url("../assets/bannerclarita.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section .content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
  color: white;
}
